// Provides the default styling for the forms.

@import "../../pstj/less/element/form";
@import "../../pstj/less/material/typography";
@import "../../pstj/less/material/layout";


@sm-form-checkbox-color: black;

// TODO: make width configurable

.sm-form {
  width: 310px;
  position: relative;
  padding: 15px;
  margin: 10px;

  .linklike {
    padding: 10px 0;
    cursor: pointer;
    .typography(#00f, 87, 11px, @typography-weight-light);
  }

  .material-checkbox-content {
    .caption(@sm-form-checkbox-color);
  }

  .material-checkbox {
    padding: 10px 0;
  }

  .material-input {
    padding: 0;
    width: 100%;
  }

  .sm-form-button-container {
    &:extend(.horizontal);
    &:extend(.end-justified);
  }

  .sm-form-help-info {
    .typography(#c5c5c5, 100, 12px);
  }

  select {
    height: 35px;
    margin: 5px 0 5px auto;
    width: 70%;
    display: table;
  }

  label {
    float: left;
    padding: 9px 0;
  }
}
